// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
    background-color: #fff; 
    border:0px;
    cursor: pointer;
    font-size: $base-font-size - 2px;
    line-height: 20px;
    border:1px solid $extra-dark-grey;
    @extend .rounded;
    text-align:center;
    min-width: 150px;
    height: 40px;
    color:$extra-dark-grey;
}

.button--large{
    font-size: $base-font-size + 2px;
    min-width: 230px;
    height: 48px;
}

.button--dark{
    background-color:$extra-dark-grey;
    color:#fff;
}

.button--blue{
    background-color:$brand-color;
    color:#fff;
    border-color: $brand-color;
}

.button--subscribe{
   min-width: unset; 
    background: #000;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    padding: 0 20px;
}

.path-button{
    cursor: pointer; 
    text-align: center;   
     font-size: $base-font-size - 2px;
     i{margin-right:$base-font-size}     

     .button-holder{
          border:1px solid $brand-color;
          padding: 25px 0;
     }

     .button-holder:hover{
          border:1px solid $extra-dark-grey;
          
     }
}

