.lightbox_container{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	top:0;
	left:0;
	z-index:9;
		display: flex;
		justify-content: center;
		align-items: center;
}

.lightbox_content{
	position:relative;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	

}

.lightbox_close{
	position:absolute;
	top:6px;
	right:6px;
	border-radius:50%;	
	width:34px;
	height:34px;
	border:1px solid #FFFFFF;
	background-color:#7C5B84;
	cursor:pointer;
	z-index:7;
}

.lightbox_close::before, .lightbox_close::after{
	content:'';	
	display:block;
	width:2px;
	height:16px;
	background-color:#FFFFFF;
	position:absolute;
	left:50%;
	margin-left:-1px;
	top:50%;
	margin-top:-8px;
	transform:rotate(45deg);
	transition:transform 0.4s;
}

.lightbox_close::after{
	transform:rotate(-45deg);
}

.lightbox_close_hover.lightbox_close::after{
	transform:rotate(45deg);	
}

.lightbox_close_hover.lightbox_close::before{
	transform:rotate(-45deg);	
}

.lightbox_content_holder{
	position:relative;
	overflow:hidden;
	z-index:6;
}