// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url("https://use.typekit.net/bzn8bbd.css");

.primary-font{
  font-family: joanna-sans-nova, sans-serif; 
  font-style: normal;
 }
 .secondary-font{
  font-family: joanna-nova, sans-serif;
  font-style: normal;
 }