@font-face {
  font-family: 'seg';
  src:
    url('fonts/seg.woff2?ef3tv5') format('woff2'),
    url('fonts/seg.ttf?ef3tv5') format('truetype'),
    url('fonts/seg.woff?ef3tv5') format('woff'),
    url('fonts/seg.svg?ef3tv5#seg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'seg' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.seg-restaurants3:before {
  content: "\eb60";
}
.seg-upload:before {
  content: "\eb54";
}
.seg-local:before {
  content: "\eb52";
}
.seg-evening-icon:before {
  content: "\ea9e";
}
.seg-ic_morning:before {
  content: "\ea9a";
}
.seg-ic_afternoon:before {
  content: "\ea9b";
}
.seg-checkfront-activity:before {
  content: "\eb43";
}
.seg-checkfront-cevron:before {
  content: "\eb44";
}
.seg-checkfront-delete:before {
  content: "\eb45";
}
.seg-checkfront-edit:before {
  content: "\eb46";
}
.seg-checkfront-guests:before {
  content: "\eb47";
}
.seg-checkfront-homestay:before {
  content: "\eb48";
}
.seg-checkfront-snorkelling:before {
  content: "\eb49";
}
.seg-checkfront-warning:before {
  content: "\eb4a";
}
.seg-marina-berth-reservation1:before {
  content: "\eb3e";
}
.seg-marina-bunkers1:before {
  content: "\eb3f";
}
.seg-marina-clearances1:before {
  content: "\eb40";
}
.seg-marina-club-membership1:before {
  content: "\eb41";
}
.seg-marina-permits1:before {
  content: "\eb42";
}
.seg-associations-aqualung:before {
  content: "\eb39";
}
.seg-associations-gemini:before {
  content: "\eb3a";
}
.seg-associations-nitrox:before {
  content: "\eb3b";
}
.seg-associations-padi:before {
  content: "\eb3c";
}
.seg-associations-simrad:before {
  content: "\eb3d";
}
.seg-home-customer-service:before {
  content: "\eb1f";
}
.seg-home-dive-gear:before {
  content: "\eb20";
}
.seg-home-easy-to-get-to:before {
  content: "\eb21";
}
.seg-home-eco:before {
  content: "\eb22";
}
.seg-home-no-minimum-say:before {
  content: "\eb23";
}
.seg-home-photography:before {
  content: "\eb24";
}
.seg-dive-boat-emissions:before {
  content: "\eb25";
}
.seg-dive-boat-ratio:before {
  content: "\eb26";
}
.seg-dive-dive-masters:before {
  content: "\eb27";
}
.seg-dive-gopro-footage:before {
  content: "\eb28";
}
.seg-homestay-coffee:before {
  content: "\eb29";
}
.seg-homestay-meals:before {
  content: "\eb2a";
}
.seg-homestay-water:before {
  content: "\eb2b";
}
.seg-resort-aircon:before {
  content: "\eb2c";
}
.seg-resort-bar:before {
  content: "\eb2d";
}
.seg-resort-deck:before {
  content: "\eb2e";
}
.seg-resort-pool:before {
  content: "\eb2f";
}
.seg-resort-produce:before {
  content: "\eb30";
}
.seg-resort-spa:before {
  content: "\eb31";
}
.seg-resort-wifi:before {
  content: "\eb32";
}
.seg-packages-breakfast:before {
  content: "\eb33";
}
.seg-marina-berth-reservation:before {
  content: "\eb34";
}
.seg-marina-bunkers:before {
  content: "\eb35";
}
.seg-marina-clearances:before {
  content: "\eb36";
}
.seg-marina-club-membership:before {
  content: "\eb37";
}
.seg-marina-permits:before {
  content: "\eb38";
}
.seg-Percentage-Icon:before {
  content: "\ea2b";
}
.seg-Split-Icon:before {
  content: "\ea2c";
}
.seg-Split-Number-Icon:before {
  content: "\ea2d";
}
.seg-viber:before {
  content: "\e9df";
  color: #7c529e;
}
.seg-whatsapp:before {
  content: "\e9dd";
  color: #25d366;
}
.seg-skype:before {
  content: "\e9dc";
  color: #00aff0;
}
.seg-wire-transfer:before {
  content: "\ea62";
}
.seg-three-restaurants:before {
  content: "\eb5e";
}
.seg-ic_home_alt:before {
  content: "\eb5d";
}
.seg-restaurants:before {
  content: "\eb51";
}
.seg-adventure-select:before {
  content: "\eb53";
}
.seg-Artboard--10:before {
  content: "\eb55";
}
.seg-balcony:before {
  content: "\eb57";
}
.seg-bicycles-available:before {
  content: "\eb59";
}
.seg-breakfast:before {
  content: "\eb5b";
}
.seg-castle:before {
  content: "\eb67";
}
.seg-eco-friendly:before {
  content: "\eb6f";
}
.seg-facebook:before {
  content: "\eb71";
}
.seg-family:before {
  content: "\eb73";
}
.seg-fishing:before {
  content: "\eb7a";
}
.seg-food:before {
  content: "\eb81";
}
.seg-gear:before {
  content: "\eb87";
}
.seg-gym:before {
  content: "\eb8a";
}
.seg-hairdryer:before {
  content: "\eb90";
}
.seg-hotel-bar:before {
  content: "\eb97";
}
.seg-instagram:before {
  content: "\eb99";
}
.seg-laundry-services:before {
  content: "\eb9b";
}
.seg-mobile1:before {
  content: "\eba2";
}
.seg-old-town-visits:before {
  content: "\eba4";
}
.seg-plane:before {
  content: "\ebb0";
}
.seg-pool:before {
  content: "\ebb2";
}
.seg-sat-tv:before {
  content: "\ebb6";
}
.seg-town-fair:before {
  content: "\ebb7";
}
.seg-watersports:before {
  content: "\ebbb";
}
.seg-web:before {
  content: "\ebc5";
}
.seg-wifi:before {
  content: "\ebc7";
}
.seg-wine-bar:before {
  content: "\ebc9";
}
.seg-MA_Dive_call-icon:before {
  content: "\eb4c";
}
.seg-MA_Dive_email-icon:before {
  content: "\eb4d";
}
.seg-MA_Dive_tripadvisor:before {
  content: "\eb4b";
}
.seg-MA_Dive_additional:before {
  content: "\ea72";
}
.seg-MA_Dive_date-calendar:before {
  content: "\ea74";
}
.seg-MA_Dive_guests:before {
  content: "\ea7d";
}
.seg-MA_Dive_cart-icon:before {
  content: "\ea6f";
}
.seg-MA_Dive_3-meals-per-day:before {
  content: "\ea6b";
}
.seg-MA_Dive_air-conditioning:before {
  content: "\ea6c";
}
.seg-MA_Dive_aqualung-gear:before {
  content: "\ea6e";
}
.seg-MA_Dive_arrow-left:before {
  content: "\ea70";
}
.seg-MA_Dive_arrow-right:before {
  content: "\ea73";
}
.seg-MA_Dive_book-now-cal:before {
  content: "\ea75";
}
.seg-MA_Dive_breakfast:before {
  content: "\ea76";
}
.seg-MA_Dive_certified-dive-master:before {
  content: "\ea7a";
}
.seg-MA_Dive_check-circle:before {
  content: "\ea7b";
}
.seg-MA_Dive_close:before {
  content: "\ea7c";
}
.seg-MA_Dive_close-circle:before {
  content: "\ea7e";
}
.seg-MA_Dive_coffee-and-tea:before {
  content: "\ea81";
}
.seg-MA_Dive_dive-boats-and-gear:before {
  content: "\ea82";
}
.seg-MA_Dive_dive-packages:before {
  content: "\ea83";
}
.seg-MA_Dive_easy-to-get-to:before {
  content: "\ea84";
}
.seg-MA_Dive_eco-and-community-focused:before {
  content: "\ea85";
}
.seg-MA_Dive_ellipse-agree-icon:before {
  content: "\ea86";
}
.seg-MA_Dive_facebook-logo:before {
  content: "\ea87";
}
.seg-MA_Dive_faqs:before {
  content: "\ea88";
}
.seg-MA_Dive_ferry-schedual:before {
  content: "\ea89";
}
.seg-MA_Dive_fully-licensed-bar:before {
  content: "\ea8a";
}
.seg-MA_Dive_gallery:before {
  content: "\ea8b";
}
.seg-MA_Dive_global-partners-icon:before {
  content: "\ea8c";
}
.seg-MA_Dive_go-pro-footage:before {
  content: "\ea8d";
}
.seg-MA_Dive_info_outline:before {
  content: "\ea8e";
}
.seg-MA_Dive_instagram-logo:before {
  content: "\ea8f";
}
.seg-MA_Dive_italian-linen:before {
  content: "\ea90";
}
.seg-MA_Dive_loader:before {
  content: "\ea91";
}
.seg-MA_Dive_local-area-map:before {
  content: "\ea92";
}
.seg-MA_Dive_local-produce:before {
  content: "\ea93";
}
.seg-MA_Dive_local-tourist-information:before {
  content: "\ea94";
}
.seg-MA_Dive_location-pin:before {
  content: "\ea95";
}
.seg-MA_Dive_mangrove-deck:before {
  content: "\ea96";
}
.seg-MA_Dive_massages:before {
  content: "\ea97";
}
.seg-MA_Dive_next:before {
  content: "\ea9c";
}
.seg-MA_Dive_PADI-logo:before {
  content: "\ea9d";
}
.seg-MA_Dive_pintrest-logo:before {
  content: "\ea9f";
}
.seg-MA_Dive_plus .path1:before {
  content: "\eaa0";
  color: rgb(248, 248, 248);
}
.seg-MA_Dive_plus .path2:before {
  content: "\eaa1";
  margin-left: -1em;
  color: none;
}
.seg-MA_Dive_plus .path3:before {
  content: "\eaa2";
  margin-left: -1em;
  color: rgb(43, 47, 49);
}
.seg-MA_Dive_prev:before {
  content: "\eaa3";
}
.seg-MA_Dive_questions-and-answers:before {
  content: "\eaa4";
}
.seg-MA_Dive_swimming-pool:before {
  content: "\eaa5";
}
.seg-MA_Dive_unlimited-drinking-water:before {
  content: "\eaa6";
}
.seg-MA_Dive_wifi:before {
  content: "\eaa7";
}
.seg-MA_Dive_youutube-logo:before {
  content: "\eaa8";
}
.seg-meridian-adventure-dive-logo .path1:before {
  content: "\eaa9";
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path2:before {
  content: "\eaaa";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path3:before {
  content: "\eaab";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path4:before {
  content: "\eaac";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path5:before {
  content: "\eaad";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path6:before {
  content: "\eaae";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path7:before {
  content: "\eaaf";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path8:before {
  content: "\eab0";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path9:before {
  content: "\eab1";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path10:before {
  content: "\eab2";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path11:before {
  content: "\eab3";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path12:before {
  content: "\eab4";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path13:before {
  content: "\eab5";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path14:before {
  content: "\eab6";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path15:before {
  content: "\eab7";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path16:before {
  content: "\eab8";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path17:before {
  content: "\eab9";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path18:before {
  content: "\eaba";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path19:before {
  content: "\eabb";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path20:before {
  content: "\eabc";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path21:before {
  content: "\eabd";
  margin-left: -7.32421875em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo .path22:before {
  content: "\eabe";
  margin-left: -7.32421875em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo .path23:before {
  content: "\eabf";
  margin-left: -7.32421875em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo .path24:before {
  content: "\eac0";
  margin-left: -7.32421875em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-dark .path1:before {
  content: "\eac1";
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path2:before {
  content: "\eac2";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path3:before {
  content: "\eac3";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path4:before {
  content: "\eac4";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path5:before {
  content: "\eac5";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path6:before {
  content: "\eac6";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path7:before {
  content: "\eac7";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path8:before {
  content: "\eac8";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path9:before {
  content: "\eac9";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path10:before {
  content: "\eaca";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path11:before {
  content: "\eacb";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path12:before {
  content: "\eacc";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path13:before {
  content: "\eacd";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path14:before {
  content: "\eace";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path15:before {
  content: "\eacf";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path16:before {
  content: "\ead0";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path17:before {
  content: "\ead1";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path18:before {
  content: "\ead2";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path19:before {
  content: "\ead3";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path20:before {
  content: "\ead4";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path21:before {
  content: "\ead5";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-dark .path22:before {
  content: "\ead6";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-dark .path23:before {
  content: "\ead7";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-dark .path24:before {
  content: "\ead8";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-header .path1:before {
  content: "\ead9";
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path2:before {
  content: "\eada";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path3:before {
  content: "\eadb";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path4:before {
  content: "\eadc";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path5:before {
  content: "\eadd";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path6:before {
  content: "\eade";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path7:before {
  content: "\eadf";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path8:before {
  content: "\eae0";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path9:before {
  content: "\eae1";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path10:before {
  content: "\eae2";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path11:before {
  content: "\eae3";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path12:before {
  content: "\eae4";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path13:before {
  content: "\eae5";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path14:before {
  content: "\eae6";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path15:before {
  content: "\eae7";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path16:before {
  content: "\eae8";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path17:before {
  content: "\eae9";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path18:before {
  content: "\eaea";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path19:before {
  content: "\eaeb";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path20:before {
  content: "\eaec";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path21:before {
  content: "\eaed";
  margin-left: -21.462890625em;
  color: rgb(255, 255, 255);
}
.seg-meridian-adventure-dive-logo-header .path22:before {
  content: "\eaee";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-header .path23:before {
  content: "\eaef";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-header .path24:before {
  content: "\eaf0";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-header-dark .path1:before {
  content: "\eaf1";
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path2:before {
  content: "\eaf2";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path3:before {
  content: "\eaf3";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path4:before {
  content: "\eaf4";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path5:before {
  content: "\eaf5";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path6:before {
  content: "\eaf6";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path7:before {
  content: "\eaf7";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path8:before {
  content: "\eaf8";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path9:before {
  content: "\eaf9";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path10:before {
  content: "\eafa";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path11:before {
  content: "\eafb";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path12:before {
  content: "\eafc";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path13:before {
  content: "\eafd";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path14:before {
  content: "\eafe";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path15:before {
  content: "\eaff";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path16:before {
  content: "\eb00";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path17:before {
  content: "\eb01";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path18:before {
  content: "\eb02";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path19:before {
  content: "\eb03";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path20:before {
  content: "\eb04";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path21:before {
  content: "\eb05";
  margin-left: -21.462890625em;
  color: rgb(43, 47, 49);
}
.seg-meridian-adventure-dive-logo-header-dark .path22:before {
  content: "\eb06";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-header-dark .path23:before {
  content: "\eb07";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-meridian-adventure-dive-logo-header-dark .path24:before {
  content: "\eb08";
  margin-left: -21.462890625em;
  color: rgb(0, 0, 0);
}
.seg-event_available:before {
  content: "\ea20";
}
.seg-palette:before {
  content: "\ea64";
}
.seg-call_split:before {
  content: "\e9e2";
}
.seg-rotate-left:before {
  content: "\ea31";
}
.seg-repeat:before {
  content: "\ea32";
}
.seg-calculate:before {
  content: "\e9ea";
}
.seg-check-alt:before {
  content: "\e9eb";
}
.seg-equalizer:before {
  content: "\e9cb";
}
.seg-move2:before {
  content: "\e9c6";
}
.seg-icon-department-tasks:before {
  content: "\eb5f";
}
.seg-Export_to_Excel:before {
  content: "\eb56";
}
.seg-View_Receipt:before {
  content: "\eb58";
}
.seg-Zoom_In:before {
  content: "\eb5a";
}
.seg-Zoom_Out:before {
  content: "\eb5c";
}
.seg-Card_View:before {
  content: "\eb4e";
}
.seg-Table_View:before {
  content: "\eb4f";
}
.seg-Zip-folder:before {
  content: "\eb50";
}
.seg-halt:before {
  content: "\ea99";
}
.seg-View-Video:before {
  content: "\eb1e";
}
.seg-Pause_icon:before {
  content: "\eb1c";
}
.seg-New-Checklist_icon:before {
  content: "\eb1a";
}
.seg-Upload_icon:before {
  content: "\eb1b";
}
.seg-Alerts-Bell:before {
  content: "\eb0f";
}
.seg-Calemdar-View:before {
  content: "\eb10";
}
.seg-Calendar-View-More:before {
  content: "\eb11";
}
.seg-duplicate:before {
  content: "\eb12";
}
.seg-Filter:before {
  content: "\eb13";
}
.seg-Filter-Overdue-Tasks:before {
  content: "\eb14";
}
.seg-Filter-Priority-Tasks:before {
  content: "\eb15";
}
.seg-Frequency:before {
  content: "\eb16";
}
.seg-Link:before {
  content: "\eb17";
}
.seg-Persons-Required:before {
  content: "\eb18";
}
.seg-Person-Required:before {
  content: "\eb1d";
}
.seg-Table-View:before {
  content: "\eb19";
}
.seg-bridge_team_icon:before {
  content: "\ea7f";
}
.seg-Calibrate_icon:before {
  content: "\ea80";
}
.seg-deck_team_icon:before {
  content: "\ea98";
}
.seg-Ellipsis_icon:before {
  content: "\eb09";
}
.seg-galley_team_icon:before {
  content: "\eb0a";
}
.seg-interior_team_icon:before {
  content: "\eb0b";
}
.seg-Training-Session_icon:before {
  content: "\eb0c";
}
.seg-Video_icon:before {
  content: "\eb0d";
}
.seg-View_icon:before {
  content: "\eb0e";
}
.seg-Accounts:before {
  content: "\ea6a";
}
.seg-Messages_plus:before {
  content: "\ea69";
}
.seg-Calendar:before {
  content: "\ea66";
}
.seg-Messages:before {
  content: "\ea67";
}
.seg-Profile:before {
  content: "\ea68";
}
.seg-icon-properties:before {
  content: "\ea65";
}
.seg-icon-tick:before {
  content: "\ea63";
}
.seg-icon-adults-children:before {
  content: "\ea48";
}
.seg-icon-date:before {
  content: "\ea49";
}
.seg-icon-time:before {
  content: "\ea4a";
}
.seg-icon-avatar .path1:before {
  content: "\ea4b";
  color: rgb(64, 64, 65);
}
.seg-icon-avatar .path2:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.seg-icon-avatar .path3:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(64, 64, 65);
}
.seg-icon-search:before {
  content: "\ea50";
}
.seg-icon-upload:before {
  content: "\ea51";
}
.seg-icon-activities:before {
  content: "\ea52";
}
.seg-icon-events:before {
  content: "\ea53";
}
.seg-icon-members:before {
  content: "\ea54";
}
.seg-icon-messages:before {
  content: "\ea55";
}
.seg-icon-pro-gear:before {
  content: "\ea56";
}
.seg-icon-reports:before {
  content: "\ea58";
}
.seg-icon-reservations:before {
  content: "\ea59";
}
.seg-icons-media-gallery:before {
  content: "\ea5a";
}
.seg-icons-setup:before {
  content: "\ea5c";
}
.seg-icon-csv:before {
  content: "\ea47";
}
.seg-Deposit:before {
  content: "\ea46";
}
.seg-Banking-Details:before {
  content: "\ea3a";
}
.seg-Charter:before {
  content: "\ea3b";
}
.seg-Employment-Company:before {
  content: "\ea3c";
}
.seg-Fleet:before {
  content: "\ea3d";
}
.seg-Management-Company:before {
  content: "\ea3e";
}
.seg-Owner-Details:before {
  content: "\ea3f";
}
.seg-Safe-Manning:before {
  content: "\ea41";
}
.seg-Sale:before {
  content: "\ea42";
}
.seg-System-Setup:before {
  content: "\ea43";
}
.seg-Vessel:before {
  content: "\ea44";
}
.seg-Vessel-Particulars:before {
  content: "\ea45";
}
.seg-Port-of-Call:before {
  content: "\ea39";
}
.seg-toggleSwitch:before {
  content: "\ea38";
}
.seg-information-button:before {
  content: "\ea37";
}
.seg-Record-Book:before {
  content: "\ea35";
}
.seg-Video:before {
  content: "\ea36";
}
.seg-bill-icon:before {
  content: "\ea34";
}
.seg-select-record-icon:before {
  content: "\ea33";
}
.seg-select-account:before {
  content: "\e9f5";
}
.seg-capture-receipt:before {
  content: "\e9f6";
}
.seg-ledger:before {
  content: "\e9f7";
}
.seg-approval-posting:before {
  content: "\ea2f";
}
.seg-accountant-posting:before {
  content: "\ea30";
}
.seg-cash:before {
  content: "\ea2e";
  color: #0eadc0;
}
.seg-Drill-Event-Icon:before {
  content: "\ea24";
}
.seg-Industry-Event-Icon:before {
  content: "\ea25";
}
.seg-Staff-Event-Icon:before {
  content: "\ea26";
}
.seg-Survey-Audit-Icon:before {
  content: "\ea27";
}
.seg-TS-Visit-Icon:before {
  content: "\ea28";
}
.seg-Vessel-Event-Icon:before {
  content: "\ea29";
}
.seg-Vessel-Visit-Icon:before {
  content: "\ea2a";
}
.seg-disembark-2:before {
  content: "\ea22";
}
.seg-embark-2:before {
  content: "\ea23";
}
.seg-Certificates-Icon:before {
  content: "\ea21";
}
.seg-Checklist-Icon:before {
  content: "\ea1e";
}
.seg-Company-Icon:before {
  content: "\ea1f";
}
.seg-disembark:before {
  content: "\ea1c";
}
.seg-embark:before {
  content: "\ea1d";
}
.seg-User-Rotation-01:before {
  content: "\ea1b";
}
.seg-Vessel-Staff-Requirements:before {
  content: "\ea16";
}
.seg-Global-Policies:before {
  content: "\ea17";
}
.seg-Vessel-Specific-Policies:before {
  content: "\ea18";
}
.seg-Cabin:before {
  content: "\ea12";
}
.seg-Crew:before {
  content: "\ea15";
}
.seg-Port-Info:before {
  content: "\ea11";
}
.seg-Postal:before {
  content: "\ea07";
}
.seg-Provisioning:before {
  content: "\ea08";
}
.seg-Transport:before {
  content: "\ea09";
}
.seg-Marina:before {
  content: "\ea0a";
}
.seg-Medical:before {
  content: "\ea0b";
}
.seg-Agent:before {
  content: "\ea0d";
}
.seg-Government:before {
  content: "\ea0e";
}
.seg-Emergency-Contact:before {
  content: "\ea0f";
}
.seg-man-overboard:before {
  content: "\ea03";
}
.seg-fire:before {
  content: "\ea04";
}
.seg-collision-grounding:before {
  content: "\ea05";
}
.seg-abandon-ship:before {
  content: "\ea06";
}
.seg-undo:before {
  content: "\ea02";
}
.seg-AdvisoryNoticeQuicklink:before {
  content: "\ea01";
}
.seg-update:before {
  content: "\ea00";
}
.seg-currency-exchange:before {
  content: "\e9f3";
  color: #0cacbf;
}
.seg-transfer-cash:before {
  content: "\e9f4";
}
.seg-debit-card:before {
  content: "\e9f8";
  color: #cad535;
}
.seg-record-expense:before {
  content: "\e9f9";
  color: #0eadc0;
}
.seg-record-income:before {
  content: "\e9fa";
}
.seg-Block-Select:before {
  content: "\e9e8";
}
.seg-Receipts:before {
  content: "\e9d9";
}
.seg-exclamation-circle:before {
  content: "\e9ef";
}
.seg-exclamation:before {
  content: "\e9c2";
}
.seg-tick-circle:before {
  content: "\e9f0";
}
.seg-info-circle:before {
  content: "\e9f1";
}
.seg-info2:before {
  content: "\e9cf";
}
.seg-untickbox:before {
  content: "\e9ed";
  color: #4a4a49;
}
.seg-tickbox:before {
  content: "\e9ee";
}
.seg-vessel:before {
  content: "\e9e7";
}
.seg-captain-svgrepo-com:before {
  content: "\e9e5";
}
.seg-Excel:before {
  content: "\e9ca";
}
.seg-Add-Book:before {
  content: "\e9d8";
}
.seg-thin-cross-half-left:before {
  content: "\e9d2";
}
.seg-thin-cross-half-right:before {
  content: "\e9d3";
}
.seg-thin-cross-02:before {
  content: "\e9d4";
}
.seg-view:before {
  content: "\e9cd";
}
.seg-mail:before {
  content: "\e9cc";
}
.seg-Graph:before {
  content: "\e9c7";
}
.seg-Graph_Colour:before {
  content: "\e9c8";
  color: #591257;
}
.seg-PDF-Icon .path1:before {
  content: "\e909";
  color: rgb(74, 74, 73);
}
.seg-PDF-Icon .path2:before {
  content: "\e90a";
  margin-left: -0.7880859375em;
  color: rgb(74, 74, 73);
}
.seg-PDF-Icon .path3:before {
  content: "\e90b";
  margin-left: -0.7880859375em;
  color: rgb(249, 248, 248);
}
.seg-PDF-Icon .path4:before {
  content: "\e9c3";
  margin-left: -0.7880859375em;
  color: rgb(249, 248, 248);
}
.seg-PDF-Icon .path5:before {
  content: "\e9c4";
  margin-left: -0.7880859375em;
  color: rgb(249, 248, 248);
}
.seg-PP_Wave:before {
  content: "\e9af";
}
.seg-PP_Training:before {
  content: "\e9b0";
}
.seg-PP_Tower:before {
  content: "\e9b1";
}
.seg-PP_Stopwatch:before {
  content: "\e9b2";
}
.seg-PP_Repeat-PP:before {
  content: "\e9b3";
}
.seg-PP_Recreation:before {
  content: "\e9b4";
}
.seg-PP_Pin:before {
  content: "\e9b5";
}
.seg-PP_Map:before {
  content: "\e9b6";
}
.seg-PP_Half-Clock:before {
  content: "\e9b9";
}
.seg-PP_Graph:before {
  content: "\e9ba";
}
.seg-PP_Gears:before {
  content: "\e9bb";
}
.seg-PP_Exclamation:before {
  content: "\e9bc";
}
.seg-PP_Compass:before {
  content: "\e9bd";
}
.seg-PP_Boat-Wave:before {
  content: "\e9be";
}
.seg-PP_Boat-Clipboard:before {
  content: "\e9bf";
}
.seg-PP_Binoculars:before {
  content: "\e9c0";
}
.seg-PP_Bed:before {
  content: "\e9c1";
}
.seg-Edit_Visitors_Icon:before {
  content: "\e9ae";
}
.seg-chevronyellow .path1:before {
  content: "\e99e";
  color: rgb(241, 230, 37);
}
.seg-chevronyellow .path2:before {
  content: "\e99f";
  margin-left: -1.1162109375em;
  color: rgb(1, 2, 2);
}
.seg-chevronyellow .path3:before {
  content: "\e9a0";
  margin-left: -1.1162109375em;
  color: rgb(1, 2, 2);
}
.seg-chevronyellow .path4:before {
  content: "\e9a2";
  margin-left: -1.1162109375em;
  color: rgb(1, 2, 2);
}
.seg-chevrongreen .path1:before {
  content: "\e9a3";
  color: rgb(91, 178, 75);
}
.seg-chevrongreen .path2:before {
  content: "\e9a4";
  margin-left: -1.1162109375em;
  color: rgb(255, 255, 255);
}
.seg-chevrongreen .path3:before {
  content: "\e9a5";
  margin-left: -1.1162109375em;
  color: rgb(255, 255, 255);
}
.seg-chevronred .path1:before {
  content: "\e9a6";
  color: rgb(192, 41, 46);
}
.seg-chevronred .path2:before {
  content: "\e9a7";
  margin-left: -1.1162109375em;
  color: rgb(241, 230, 37);
}
.seg-chevronred .path3:before {
  content: "\e9a8";
  margin-left: -1.1162109375em;
  color: rgb(241, 230, 37);
}
.seg-chevronred .path4:before {
  content: "\e9a9";
  margin-left: -1.1162109375em;
  color: rgb(241, 230, 37);
}
.seg-in-mlc-notice:before {
  content: "\e99b";
}
.seg-in-safety-notice:before {
  content: "\e99c";
}
.seg-in-security-notice:before {
  content: "\e99d";
}
.seg-smm-publish:before {
  content: "\e99a";
}
.seg-switch22:before {
  content: "\e9b7";
}
.seg-move:before {
  content: "\e994";
}
.seg-switch:before {
  content: "\e9b8";
}
.seg-arrow-left:before {
  content: "\ea40";
}
.seg-sort-amount-asc:before {
  content: "\ea4c";
}
.seg-sort-amount-desc:before {
  content: "\ea4d";
}
.seg-floppy-disk:before {
  content: "\e9ac";
}
.seg-eyedropper:before {
  content: "\e9e3";
}
.seg-connection:before {
  content: "\e9d6";
}
.seg-copy:before {
  content: "\ea10";
}
.seg-folder1:before {
  content: "\ea1a";
}
.seg-folder-open:before {
  content: "\ea19";
}
.seg-cart:before {
  content: "\e9fe";
}
.seg-enlarge2:before {
  content: "\e9fc";
}
.seg-shrink2:before {
  content: "\e9fb";
}
.seg-key:before {
  content: "\e9e9";
}
.seg-list2:before {
  content: "\e9e4";
}
.seg-menu:before {
  content: "\e9d5";
}
.seg-eye:before {
  content: "\e9f2";
}
.seg-bookmark:before {
  content: "\e9db";
}
.seg-point-up:before {
  content: "\ea5e";
}
.seg-minus1:before {
  content: "\ea5f";
}
.seg-info3:before {
  content: "\ea0c";
}
.seg-enter:before {
  content: "\ea13";
}
.seg-exit:before {
  content: "\ea14";
}
.seg-stop2:before {
  content: "\ea60";
}
.seg-checkbox-unchecked:before {
  content: "\ea5d";
}
.seg-radio-unchecked:before {
  content: "\ea61";
}
.seg-crop:before {
  content: "\ea57";
}
.seg-filter:before {
  content: "\ea5b";
}
.seg-text-color:before {
  content: "\ea6d";
}
.seg-table2:before {
  content: "\ea71";
}
.seg-paragraph-left:before {
  content: "\ea77";
}
.seg-paragraph-center:before {
  content: "\ea78";
}
.seg-paragraph-right:before {
  content: "\ea79";
}
.seg-Publish-Icon:before {
  content: "\e9ad";
}
.seg-cross02:before {
  content: "\e971";
}
.seg-cross-half-left:before {
  content: "\e990";
}
.seg-cross-half-right:before {
  content: "\e999";
}
.seg-rst-anchor-watch:before {
  content: "\e995";
}
.seg-rst-berthed-standby:before {
  content: "\e996";
}
.seg-rst-mca:before {
  content: "\e997";
}
.seg-download-file-icon:before {
  content: "\e993";
}
.seg-map-icon:before {
  content: "\e991";
}
.seg-web-link:before {
  content: "\e98e";
}
.seg-add-circle:before {
  content: "\e900";
}
.seg-minus:before {
  content: "\e901";
}
.seg-smm-alarm:before {
  content: "\e902";
}
.seg-smm-award:before {
  content: "\e903";
}
.seg-smm-captain-hat:before {
  content: "\e904";
}
.seg-smm-clipboard:before {
  content: "\e905";
}
.seg-smm-clipboard-alarm:before {
  content: "\e906";
}
.seg-smm-clock:before {
  content: "\e907";
}
.seg-smm-Current-Doc-01:before {
  content: "\e908";
}
.seg-smm-fire-hydrant:before {
  content: "\e90c";
}
.seg-smm-info:before {
  content: "\e90d";
}
.seg-smm-lifevest:before {
  content: "\e90e";
}
.seg-smm-lifevest-hydrant:before {
  content: "\e90f";
}
.seg-smm-meeting:before {
  content: "\e910";
}
.seg-smm-official:before {
  content: "\e911";
}
.seg-smm-official-clipboard:before {
  content: "\e912";
}
.seg-smm-PDF .path1:before {
  content: "\e913";
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path2:before {
  content: "\e914";
  margin-left: -1.015625em;
  color: rgb(88, 88, 87);
}
.seg-smm-PDF .path3:before {
  content: "\e915";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path4:before {
  content: "\e916";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path5:before {
  content: "\e917";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path6:before {
  content: "\e918";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path7:before {
  content: "\e919";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path8:before {
  content: "\e91a";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path9:before {
  content: "\e91b";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path10:before {
  content: "\e91c";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path11:before {
  content: "\e91d";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path12:before {
  content: "\e91e";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path13:before {
  content: "\e91f";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path14:before {
  content: "\e920";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path15:before {
  content: "\e921";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path16:before {
  content: "\e922";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path17:before {
  content: "\e923";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path18:before {
  content: "\e924";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path19:before {
  content: "\e925";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path20:before {
  content: "\e926";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path21:before {
  content: "\e927";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path22:before {
  content: "\e928";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path23:before {
  content: "\e929";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path24:before {
  content: "\e92a";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path25:before {
  content: "\e92b";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path26:before {
  content: "\e92c";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path27:before {
  content: "\e92d";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path28:before {
  content: "\e92e";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path29:before {
  content: "\e92f";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path30:before {
  content: "\e930";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path31:before {
  content: "\e931";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path32:before {
  content: "\e932";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path33:before {
  content: "\e933";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path34:before {
  content: "\e934";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path35:before {
  content: "\e935";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path36:before {
  content: "\e936";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path37:before {
  content: "\e937";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path38:before {
  content: "\e938";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path39:before {
  content: "\e939";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path40:before {
  content: "\e93a";
  margin-left: -1.015625em;
  color: rgb(88, 88, 87);
}
.seg-smm-PDF .path41:before {
  content: "\e93b";
  margin-left: -1.015625em;
  color: rgb(88, 88, 87);
}
.seg-smm-PDF .path42:before {
  content: "\e93c";
  margin-left: -1.015625em;
  color: rgb(88, 88, 87);
}
.seg-smm-PDF .path43:before {
  content: "\e93d";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path44:before {
  content: "\e93e";
  margin-left: -1.015625em;
  color: rgb(88, 88, 87);
}
.seg-smm-PDF .path45:before {
  content: "\e93f";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path46:before {
  content: "\e940";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path47:before {
  content: "\e941";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path48:before {
  content: "\e942";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path49:before {
  content: "\e943";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path50:before {
  content: "\e944";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path51:before {
  content: "\e945";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path52:before {
  content: "\e946";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path53:before {
  content: "\e947";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path54:before {
  content: "\e948";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path55:before {
  content: "\e949";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path56:before {
  content: "\e94a";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path57:before {
  content: "\e94b";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path58:before {
  content: "\e94c";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path59:before {
  content: "\e94d";
  margin-left: -1.015625em;
  color: rgb(255, 255, 255);
}
.seg-smm-PDF .path60:before {
  content: "\e94e";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path61:before {
  content: "\e94f";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path62:before {
  content: "\e950";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path63:before {
  content: "\e951";
  margin-left: -1.015625em;
  color: rgb(89, 89, 88);
}
.seg-smm-PDF .path64:before {
  content: "\e952";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path65:before {
  content: "\e953";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path66:before {
  content: "\e954";
  margin-left: -1.015625em;
  color: rgb(89, 89, 88);
}
.seg-smm-PDF .path67:before {
  content: "\e955";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path68:before {
  content: "\e956";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path69:before {
  content: "\e957";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path70:before {
  content: "\e958";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path71:before {
  content: "\e959";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-PDF .path72:before {
  content: "\e95a";
  margin-left: -1.015625em;
  color: rgb(249, 248, 248);
}
.seg-smm-PDF .path73:before {
  content: "\e95b";
  margin-left: -1.015625em;
  color: rgb(112, 112, 111);
}
.seg-smm-question-mark:before {
  content: "\e95c";
}
.seg-smm-shield:before {
  content: "\e95d";
}
.seg-smm-signature:before {
  content: "\e95e";
}
.seg-smm-teacher:before {
  content: "\e95f";
}
.seg-smm-tools:before {
  content: "\e960";
}
.seg-stack:before {
  content: "\e961";
}
.seg-binoculars:before {
  content: "\e962";
}
.seg-arrow-down:before {
  content: "\e963";
}
.seg-arrow-left2:before {
  content: "\e9c9";
}
.seg-arrow-right:before {
  content: "\e9ec";
}
.seg-elipse:before {
  content: "\e964";
}
.seg-add-dark:before {
  content: "\e965";
}
.seg-add-light:before {
  content: "\e966";
}
.seg-anchor:before {
  content: "\e967";
}
.seg-arrow-circle:before {
  content: "\e968";
}
.seg-arrow-up:before {
  content: "\e9c5";
}
.seg-arrow-circle-down:before {
  content: "\e969";
}
.seg-arrow-circle-right:before {
  content: "\e9ce";
}
.seg-book:before {
  content: "\e96a";
}
.seg-calendar:before {
  content: "\e96b";
}
.seg-clock:before {
  content: "\e96c";
}
.seg-cog2:before {
  content: "\e96d";
}
.seg-cog:before {
  content: "\e96d";
}
.seg-connect:before {
  content: "\e96e";
}
.seg-connect-circle:before {
  content: "\e96f";
}
.seg-copyright:before {
  content: "\e970";
}
.seg-delete:before {
  content: "\e972";
}
.seg-edit:before {
  content: "\e973";
}
.seg-exclamation-mark-circle:before {
  content: "\e974";
}
.seg-hard-hat:before {
  content: "\e975";
}
.seg-home:before {
  content: "\e976";
}
.seg-info:before {
  content: "\e977";
}
.seg-location:before {
  content: "\e978";
}
.seg-location-circle:before {
  content: "\e979";
}
.seg-lock:before {
  content: "\e97a";
}
.seg-folder:before {
  content: "\e97b";
}
.seg-mail-2:before {
  content: "\e97c";
}
.seg-multiple-files:before {
  content: "\e97d";
}
.seg-oow:before {
  content: "\e97e";
}
.seg-paper-clip:before {
  content: "\e97f";
}
.seg-print:before {
  content: "\e980";
}
.seg-push:before {
  content: "\e981";
}
.seg-question-mark:before {
  content: "\e982";
}
.seg-rest-man:before {
  content: "\e983";
}
.seg-search:before {
  content: "\e984";
}
.seg-document:before {
  content: "\e985";
}
.seg-tick:before {
  content: "\e986";
}
.seg-trolley:before {
  content: "\e987";
}
.seg-unlock:before {
  content: "\e988";
}
.seg-user:before {
  content: "\e989";
}
.seg-user-add:before {
  content: "\e98a";
}
.seg-work-man:before {
  content: "\e98b";
}
.seg-yacht:before {
  content: "\e98c";
}
.seg-like:before {
  content: "\e98f";
}
.seg-thumbs-up:before {
  content: "\e98f";
}
.seg-approve:before {
  content: "\e98f";
}
.seg-dot-single:before {
  content: "\e9aa";
}
.seg-chevron-small-down:before {
  content: "\e998";
}
.seg-chevron-small-left:before {
  content: "\e9a1";
}
.seg-chevron-small-right:before {
  content: "\e98d";
}
.seg-help:before {
  content: "\e992";
}
.seg-dot-single2:before {
  content: "\e9ab";
}
.seg-remove-user:before {
  content: "\e9e1";
}
.seg-resize-full-screen:before {
  content: "\e9d7";
}
.seg-bar-graph:before {
  content: "\e9e6";
}
.seg-cycle:before {
  content: "\e9da";
}
.seg-images:before {
  content: "\e9e0";
}
.seg-mobile:before {
  content: "\e9de";
}
.seg-plus:before {
  content: "\e9ff";
}
.seg-squared-minus:before {
  content: "\e9d0";
}
.seg-squared-plus:before {
  content: "\e9d1";
}
.seg-v-card:before {
  content: "\e9fd";
}
