


/**
 * Basic typography style for copy text
 */




.primary-font.light{
font-weight: 200;
font-style: normal;
}

.primary-font.light-italic{
font-weight: 200;
font-style: italic;
}

.primary-font.regular{
  font-weight: 400;
  font-style: normal;
}

.primary-font.regular-italic{
font-weight: 400;
font-style: italic;
}

.primary-font.semibold{
font-weight: 600;
font-style: normal;
}

.primary-font.bold{
font-weight: 700;
font-style: normal;
}







.secondary-font.light{
font-weight: 200;
font-style: normal;
}

.secondary-font.light-italic{
font-weight: 200;
font-style: italic;
}

.secondary-font.regular{
  font-weight: 400;
  font-style: normal;
}

.secondary-font.regular-italic{
font-weight: 400;
font-style: italic;
}

.secondary-font.semibold{
font-weight: 600;
font-style: normal;
}

.secondary-font.bold{
font-weight: 700;
font-style: normal;
}



body {
  @extend .primary-font;
  color: $dark-grey;
  font-size: $base-font-size - 2px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.18px;
}

strong{
  font-weight: 700;
}

.heading-caption{
  font-size: $base-font-size;
  font-weight:700;
  line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

h1,h3{
  @extend .secondary-font;
  font-Size: 44px;
  font-weight: 400;
  line-Height: 48px;
  letter-spacing: -1.32px;
}
h3{
  font-size: $base-font-size + 2;
  letter-spacing: 0.02px;
  line-height: 24px;
}

.heading-body{
  font-size: $base-font-size + 2;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: -0.23px;
}

#navbar{
    @extend .primary-font ;
    
}
ul#crumb-menu{
   color:#fff; 
}

footer{
     .footer-inner-title{       
        font-weight: 700;

        
    }
}