.seg-mdl-checkbox{
    position:relative;
    width:300px;
    overflow:hidden;
    line-height:0;
}

.seg-mdl-checkbox input[type="checkbox"]{
    position:absolute;
    left:-200%;
}

.seg-mdl-checkbox label {
    border:none;
    width:100%;
    position:relative;
    padding:0;
    padding-top:17px;
    margin:0;
    padding-bottom:2px;
    background-color:transparent;
    z-index:4;
    font-size:14px;
    line-height:20px;
    color:#DCDCDC;
    resize:none;
    font-weight:normal;
    cursor:pointer;
    transition-property:color;
    transition-duration: .45s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.seg-mdl-checkbox.seg-mdl-checked label{
    color:#757575;
}

.seg-mdl-checkbox::before{
    content:'';
    position:absolute;
    bottom:1px;
    height:1px;
    left:0;
    width:100%;
    background-color:#DCDCDC;
    z-index:2;
}

.seg-mdl-checkbox::after{
    content:'';
    position:absolute;
    bottom:0;
    height:2px;
    right:0;
    width:0;
    animation-delay:0s;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-name:checkBoxBorderBottomBack;
    z-index:3;
}

.seg-mdl-checkbox.seg-mdl-checked::after{
    animation-name:checkBoxBorderBottom;
    animation-delay:0.2s;
}

@keyframes checkBoxBorderBottom {
    0% {width:0; right:0;}
    20% {width:100%; right:0;}
    40% {width:100%; right:0;}
    60% {width:100%; right:0;}
    80% {width:100%; right:0;}
    100% {width:100%; right:100%;}
}

@keyframes checkBoxBorderBottomBack {
    0% {width:100%; right:100%;}
    20% {width:100%; right:0;}
    40% {width:100%; right:0;}
    60% {width:100%; right:0;}
    80% {width:100%; right:0;}
    100% {width:0; right:0;}
}

.seg-mdl-checkbox-holder{
    width:23px;
    height:23px;
    position:absolute;
    right:0;
    bottom:-2px;
    border:2px solid #FFFFFF;
    background-color:#FFFFFF;
    overflow:hidden;
}

.seg-mdl-checkbox-holder::before{
    content:'';
    width:17px;
    height:17px;
    position:absolute;
    left:1px;
    top:1px;
    border:1px solid #DCDCDC;
}

.seg-mdl-checkbox-border{
    background-color:blue;
    position:absolute;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:backwards;
}

.seg-mdl-checkbox-border:nth-child(1){
    top:0;
    left:0;
    height:2px;
    width:0;
    animation-name:checkBoxBorderWidthBack;
    animation-delay:0.15s;
}

.seg-mdl-checkbox-border:nth-child(2){
    top:0;
    right:0;
    width:2px;
    height:0;
    animation-name:checkBoxBorderheightBack;
    animation-delay:0.1s;
}

.seg-mdl-checkbox-border:nth-child(3){
    bottom:0;
    right:0;
    height:2px;
    width:0;
    animation-name:checkBoxBorderWidthBack;
    animation-delay:0.05s;
}

.seg-mdl-checkbox-border:nth-child(4){
    bottom:0;
    left:0;
    width:2px;
    height:0;
    animation-name:checkBoxBorderheightBack;
    animation-delay:0.2s;
}

.seg-mdl-checked .seg-mdl-checkbox-border:nth-child(4){
    animation-fill-mode:forwards;
    animation-delay:0s;
    animation-name:checkBoxBorderheight;
}

.seg-mdl-checked .seg-mdl-checkbox-border:nth-child(1){
    animation-fill-mode:forwards;
    animation-name:checkBoxBorderWidth;
    animation-delay:0.05s;
}

.seg-mdl-checked .seg-mdl-checkbox-border:nth-child(2){
    animation-fill-mode:forwards;
    animation-name:checkBoxBorderheight;
    animation-delay:0.1s;
}

.seg-mdl-checked .seg-mdl-checkbox-border:nth-child(3){
    animation-fill-mode:forwards;
    animation-name:checkBoxBorderWidth;
    animation-delay:0.15s;
}

@keyframes checkBoxBorderheight {
    0% {height:0; margin-top:0; margin-bottom:0;}
    20% {height:19px; margin-top:0; margin-bottom:0;}
    40% {height:19px; margin-top:0; margin-bottom:0;}
    60% {height:19px; margin-top:0; margin-bottom:0;}
    80% {height:19px; margin-top:0; margin-bottom:0;}
    100% {height:19px; margin-top:19px; margin-bottom:19px;}
}

@keyframes checkBoxBorderheightBack {
    0% {height:19px; margin-top:19px; margin-bottom:19px;}
    20% {height:19px; margin-top:0; margin-bottom:0;}
    40% {height:19px; margin-top:0; margin-bottom:0;}
    60% {height:19px; margin-top:0; margin-bottom:0;}
    80% {height:19px; margin-top:0; margin-bottom:0;}
    100% {height:0; margin-top:0; margin-bottom:0;}
}

@keyframes checkBoxBorderWidth {
    0% {width:0; margin-left:0; margin-right:0;}
    20% {width:19px; margin-left:0; margin-right:0;}
    40% {width:19px; margin-left:0; margin-right:0;}
    60% {width:19px; margin-left:0; margin-right:0;}
    80% {width:19px; margin-left:0; margin-right:0;}
    100% {width:19px; margin-left:19px; margin-right:19px;}
}

@keyframes checkBoxBorderWidthBack {
    0% {width:19px; margin-left:19px; margin-right:19px;}
    20% {width:19px; margin-left:0; margin-right:0;}
    40% {width:19px; margin-left:0; margin-right:0;}
    60% {width:19px; margin-left:0; margin-right:0;}
    80% {width:19px; margin-left:0; margin-right:0;}
    100% {width:0; margin-left:0; margin-right:0;}
}
.seg-mdl-checkbox-tick{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform:scale(0);
    transition-property:all;
    transition-duration: .45s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.seg-mdl-checkbox-tick::after{
    content:'\e986';
    font-family:"seg";
    text-align:center;
    font-size:9px;
    line-height:19px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#757575;
}

.seg-mdl-checked .seg-mdl-checkbox-tick {
    transform:scale(1);
}

.seg-mdl-checkbox.seg-mdl-inactive::after, .seg-mdl-inactive .seg-mdl-checkbox-border{
    animation:none;
}

/* -- Left -- */

.left.seg-mdl-checkbox label{
    text-align:right;
}

.left.seg-mdl-checkbox::after{
    right:auto;
    left:0;
    animation-name:checkBoxBorderBottomBackLeft;
}

.left.seg-mdl-checkbox.seg-mdl-checked::after{
    animation-name:checkBoxBorderBottomLeft;
    animation-delay:0.2s;
}

@keyframes checkBoxBorderBottomLeft {
    0% {width:0; left:0;}
    20% {width:100%; left:0;}
    40% {width:100%; left:0;}
    60% {width:100%; left:0;}
    80% {width:100%; left:0;}
    100% {width:100%; left:100%;}
}

@keyframes checkBoxBorderBottomBackLeft {
    0% {width:100%; left:100%;}
    20% {width:100%; left:0;}
    40% {width:100%; left:0;}
    60% {width:100%; left:0;}
    80% {width:100%; left:0;}
    100% {width:0; left:0;}
}

.left .seg-mdl-checkbox-holder{
    right:auto;
    left:0;
}

.left .seg-mdl-checkbox-border:nth-child(1){
    left:auto;
    right:0;
}

.left .seg-mdl-checkbox-border:nth-child(2){
    left:0;
    right:auto;
}

.left .seg-mdl-checkbox-border:nth-child(3){
    left:0;
    right:auto;
}

.left .seg-mdl-checkbox-border:nth-child(4){
    right:0;
    left:auto;
}
