    .seg-mdl-submit-btn{

        position:relative;

        overflow:hidden;

        display:inline-block;

        background-color:#E8E8E8;

    }



    .seg-mdl-submit-btn input[type="submit"]{

        background-color: transparent;

        border: none;

        color:#000000;

        margin: 0;

        font-size: 14px;

        line-height: 30px;

        transition: all 0.2s;

        position: relative;

        overflow: hidden;

        font-weight: bold;

        min-width: 90px;

        padding: 0 16px;

        padding-top:4px;

        padding-bottom:4px;

        text-transform:uppercase;

        font-family: inherit;

    }



    .seg-mdl-submit-btn .seg-mdl-riple{

        content: '';

        background-color: #A2A2A2;

        position: absolute;

        width: 250%;

        padding-top: 125%;

        opacity: 1;

        padding-bottom: 125%;

        border-radius: 50%;

        animation-name:ripple;

        animation-duration:0.5s;

        transition: opacity 0.5s;

    }



    @keyframes ripple {

        from {transform:scale(0);}

        to {transform:scale(1);}

    }



    .seg-mdl-submit-btn input[type="submit"]:hover{

        color:none;

        background-color:none;

        opacity:1;

    }



    .seg-mdl-submit-btn input[type="submit"]:active{

        opacity:1;

    }