.seg-mdl-tooltip-content{
    transition: transform 0.2s;
    transform: scale(0);
    transform-origin: top center;
    will-change: transform;
    z-index: 999;
    background: rgba(97,97,97,.9);
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    max-width: 170px;
    position: fixed;
    top: -5000px;
    left: -5000px;
    padding: 8px;
    text-align: center;
}