.seg-mdl-btn{

    position:relative;

    overflow:hidden;

    display:block;

    background-color:#1EBCAA;

}



.seg-mdl-btn input[type="button"]{

    background-color: transparent;

    border: none;

    color:#FFFFFF;

    margin: 0;

     font-size: 14px;

    /*line-height: 30px; */

    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 30px;

    transition: all 0.2s;

    position: relative;

    overflow: hidden;

    font-weight: normal;

    min-width: 90px;

    padding: 0 16px;

    padding-top:4px;

    padding-bottom:4px;

    text-transform:uppercase;

    z-index:3;

	cursor:pointer;

    width:100%;
    
    font-family: inherit;

}



.seg-mdl-btn .seg-mdl-riple{

    content: '';

    background-color: #1CA192;

    position: absolute;

    width: 250%;

    padding-top: 125%;

    opacity: 1;

    padding-bottom: 125%;

    border-radius: 50%;

    animation-name:ripple;

    animation-duration:0.5s;

    transition: opacity 0.5s;

    z-index:1;

}



@keyframes ripple {

    from {transform:scale(0);}

    to {transform:scale(1);}

}



.seg-mdl-btn input[type="button"]:hover{

    color:none;

    background-color:none;

    opacity:1;

}



.seg-mdl-btn input[type="button"]:active{

    opacity:1;

}



/* -- modal -- */



.seg-mdl-modal-btn-container{

    float:left;

}



.seg-mdl-modal-btn-container .seg-mdl-btn{

    width:auto;

    margin-left:1px;

}



.seg-mdl-modal-btn-container.seg-mdl-modal-btn-container-first .seg-mdl-btn{

    margin-left:0;

}