.seg-mdl-searchfield {
	/* position: relative;

	width: 130px;

	height: 36px;

	margin-bottom: 5px;

	margin-top: 5px;

	line-height: 0; */

	position: relative;
    width: calc(100% - 2px);
    height: 40px;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 0;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
	text-align: left;
}

.seg-mdl-searchfield #search-input {
	/* border: none;

	width: 100%;

	position: absolute;

	height: 24px;

	padding: 0;

	margin: 0;

	bottom: 2px;

	background-color: transparent;

	z-index: 4;

	font-size: 14px;

	line-height: 24px;

	color: #75787b;

	left: 0; */

	border: none;
    width: calc(100% - 20px);
    position: absolute;
    height: 14px;
    padding: 18px 10px 8px;
    margin: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 4;
    font-size: 14px;
    line-height: 14px;
    color: #75787B;
    left: 0;
	outline: 0;
	min-height: 40px;
	box-sizing: border-box;
}

/* .seg-mdl-searchfield::before {
	content: "";

	position: absolute;

	bottom: 1px;

	height: 1px;

	left: 0;

	width: 100%;

	background-color: #75787b;

	z-index: 2;
}

.seg-mdl-searchfield::after {
	content: "";

	position: absolute;

	bottom: 0;

	height: 2px;

	left: 50%;

	width: 0;

	background-color: #1ebcaa;

	transition-property: all;

	transition-duration: 0.2s;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	z-index: 3;
} */

/* .seg-mdl-searchfield.seg-mdl-focussed::after {
	width: 100%;

	left: 0;
}

.seg-mdl-searchfield.seg-mdl-error::after {
	width: 100%;

	left: 0;

	background-color: red !important;
} */

.seg-mdl-searchfield label {
	/* position: absolute;

	z-index: 1;

	font-size: 14px;

	color: #75787b;

	display: block;

	top: 0;

	left: 0;

	margin-top: 10px;

	font-weight: normal;

	line-height: 24px;

	transition-property: all;

	transition-duration: 0.2s;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

	position: relative;
    z-index: 1;
    font-size: 14px;
    color: #75787B;
    display: block;
    top: 0;
    left: 0;
    font-weight: normal;
    line-height: 20px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
	padding: 10px;
	transform-origin: left top;
}

.seg-mdl-searchfield.seg-mdl-completed label {
	/* transform: scale(0.8) translateX(-13%) translateY(-94%);

	color: #1ebcaa; */

	transform: scale(0.8) translateX(3px) translateY(-8px);
    color: #1EBCAA;
}

.seg-mdl-completed .seg-mdl-plain-label + label {
	transform: none !important;

	opacity: 0;
}

.seg-mdl-searchfield #search-submit {
	position: absolute;

	bottom: 7px;

	right: 0;

	background-color: transparent;

	border: none;

	background-image: url(../images/icons/search.png);

	background-repeat: no-repeat;

	background-size: 10px auto;

	width: 10px;

	height: 12px;

	z-index: 5;

	cursor: pointer;
}

.screen-reader-text {
	display: none;
}
