.seg-mdl-textarea{

    /* position:relative;

    width:100%; */

    /*overflow:hidden;*/ /*removed to allow for validation message to show*/

    /* margin-bottom:5px;

    margin-top:5px;

    line-height:0; */

    position: relative;
    width: calc(100% - 2px);
    min-height: 40px;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 0;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    text-align: left;
}



.seg-mdl-textarea textarea {

    /* border:none;

    width:100%;

    position:relative;

    height:24px;

    padding:0;

    margin:0;

    background-color:transparent;

    z-index:4;

    font-size:15px;

    line-height:22px;

    color:#75787B;

    resize:none;

    margin-top:14px;

    min-height: 24px; */

    border: none;
    width: calc(100% - 20px);
    position: relative;
    min-height: 40px;
    padding: 18px 10px 8px;
    margin: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 4;
    font-size: 14px;
    line-height: 14px;
    color: #75787B;
    left: 0;
    outline: 0;
    resize:none;
    font-family: inherit;
}



/* .seg-mdl-textarea::before{

    content:'';

    position:absolute;

    bottom:1px;

    height:1px;

    left:0;

    width:100%;

    background-color:#75787B;

    z-index:2;

}



.seg-mdl-textarea::after{

    content:'';

    position:absolute;

    bottom:0;

    height:2px;

    left:50%;

    width:0;

    background-color:#1EBCAA;

    transition-property:all;

    transition-duration: .2s;

    transition-timing-function: cubic-bezier(.4,0,.2,1);

    z-index:3;

}



.seg-mdl-textarea.seg-mdl-focussed::after{

    width:100%;

    left:0;

}



.seg-mdl-textarea.seg-mdl-error::after{

	width:100%;

	left:0;

	background-color:red !important;

} */



.seg-mdl-textarea label{

    /* position:absolute;

    z-index:1;

    font-size:14px;

    color:#75787B;

    display:block;

    top:0;

    left:0;

    margin-top:10px;

    font-weight:normal;

    line-height:20px;

    transition-property:all;

    transition-duration: .2s;

    transition-timing-function: cubic-bezier(.4,0,.2,1);

    margin-bottom:0; */

    position: absolute;
    z-index: 1;
    font-size: 14px;
    color: #75787B;
    display: block;
    top: 0;
    left: 0;
    font-weight: normal;
    line-height: 20px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    padding: 10px;
    transform-origin: left top;
}



.seg-mdl-textarea.seg-mdl-completed label{

	/* transform:scale(0.8) translateX(-13%) translateY(-94%);

	color:#1EBCAA; */

	transform: scale(0.8) translateX(3px) translateY(-8px);
    color: #1EBCAA;

}



.mdl-validation-error.seg-mdl-textarea::before{

	background-color:#FF0000 !important;

}



.mdl-validation-error.seg-mdl-textarea::after{

	background-color:#FF0000 !important;

}

.seg-mdl-textarea.mdl-validation-error{
	margin-bottom:20px;
}

.seg-mdl-textarea .mdl-validation-error-msg {
    /* color: #FF0000;
    font-size: 10px;
    position: absolute;
    bottom: -6px;
    right: 0; */

    color: #FF0000;
    font-size: 10px;
    position: absolute;
    bottom: -8px;
    left: 10px;
}