.seg-mdl-dropdown{

    /* position:relative;

    width:100%;

    height:36px;

    margin-bottom:5px;

    margin-top:5px; */

    position: relative;
    width: calc(100% - 2px);
    height: 40px;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 0;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    text-align: left;
}



.seg-mdl-dropdown select {
    /* border:none;
    width:100%;
    position:absolute;
    height:26px;
    padding:0;
    margin:0;
    bottom:0;
    background-color:transparent;
    z-index:4;
    font-size:14px;
    line-height:22px;
    color:#75787B;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-bottom:2px;
	outline: 0;
    left:0; */

    border: none;
    width: calc(100% - 20px);
    position: absolute;
    height: 14px;
    padding: 18px 10px 8px;
    margin: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 4;
    font-size: 14px;
    line-height: 14px;
    color: #75787B;
    left: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: initial;
}



.seg-mdl-dropdown select::-ms-expand {
    display: none;
}



@media all and (-ms-high-contrast: active) {
    .seg-mdl-dropdown select:focus::-ms-value{
        background-color: transparent;
        color:#75787B;
    }
}

@media all and (-ms-high-contrast: none) {
    .seg-mdl-dropdown select::-ms-value{
        background-color: transparent;
        color:#75787B;
    }
}



/* .seg-mdl-dropdown::before{
    content:'';
    position:absolute;
    bottom:1px;
    height:1px;
    left:0;
    width:100%;
    background-color:#75787B;
    z-index:2;
}



.seg-mdl-dropdown::after{
    content:'';
    position:absolute;
    bottom:0;
    height:2px;
    left:50%;
    width:0;
    background-color:#1EBCAA;
    transition-property:all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index:3;
} */



.seg-mdl-dropdown-arrow{

    position:absolute;

    top:16px;

    right:10px;

    width:9px;

    height:9px;

    color: #75787B;

}



.seg-mdl-dropdown-arrow::after{

    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 8px;

    height: 8px;

	border-left:1px solid #75787B;

	border-top:1px solid #75787B;

	transition: all 0.2s;

	transform: rotate(-45deg);

}



.seg-mdl-focussed .seg-mdl-dropdown-arrow::after{

    transform:rotate(-135deg);

    border-color:#1EBCAA;

}



/* .seg-mdl-dropdown.seg-mdl-focussed::after{

    width:100%;

    left:0;

} */



/* .seg-mdl-dropdown.seg-mdl-error::after{

    width:100%;

    left:0;

    background-color:red !important;

} */



.seg-mdl-dropdown label{

    /* position:absolute;

    z-index:1;

    font-size:14px;

    color:#75787B;

    display:block;

    top:0;

    left:0;

    margin-top:10px;

    font-weight:normal;

    line-height:24px;

    transition-property:all;

    transition-duration: .2s;

    transition-timing-function: cubic-bezier(.4,0,.2,1); */

    position: relative;
    z-index: 1;
    font-size: 14px;
    color: #75787B;
    display: block;
    top: 0;
    left: 0;
    font-weight: normal;
    line-height: 20px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    padding: 10px;
    transform-origin: left top;
}


.seg-mdl-dropdown.seg-mdl-completed label{

    /* transform:scale(0.8) translateX(-13%) translateY(-94%);

    color:#1EBCAA; */

    transform: scale(0.8) translateX(3px) translateY(-8px);
    color: #1EBCAA;

}


.mdl-input-error-msg{

	font-size:10px;

	color:#FF0000;

	padding-bottom:5px;

	margin-top:-5px;

}

.seg-mdl-dropdown.mdl-validation-error{
	margin-bottom:20px;
}

.seg-mdl-dropdown .mdl-validation-error-msg {

	color: #FF0000;
    font-size: 10px;
    position: absolute;
    bottom: -8px;
    left: 10px;
}
