.seg-mdl-passwordfield{
    position:relative;
    width:100%;
    height:36px;
    margin-bottom:5px;
    margin-top:5px;
    line-height:0;
}

.seg-mdl-passwordfield input {
    border:none;
    width:100%;
    position:absolute;
    height:24px;
    padding:0;
    margin:0;
    bottom:2px;
    background-color:transparent;
    z-index:4;
    font-size:14px;
    line-height:24px;
    color:#757575;
}

.seg-mdl-passwordfield::before{
    content:'';
    position:absolute;
    bottom:1px;
    height:1px;
    left:0;
    width:100%;
    background-color:#75787B;
    z-index:2;
}

.seg-mdl-passwordfield::after{
    content:'';
    position:absolute;
    bottom:0;
    height:2px;
    left:50%;
    width:0;
    background-color:#1EBCAA;
    transition-property:all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index:3;
}

.seg-mdl-passwordfield.seg-mdl-focussed::after{
    width:100%;
    left:0;
}

.seg-mdl-passwordfield.seg-mdl-error::after{
    width:100%;
    left:0;
    background-color:red !important;
}

.seg-mdl-passwordfield label{
    position:absolute;
    z-index:1;
    font-size:14px;
    color:#75787B;
    display:block;
    top:0;
    left:0;
    margin-top:10px;
    font-weight:normal;
    line-height:24px;
    transition-property:all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.seg-mdl-passwordfield.seg-mdl-completed label{
    transform:scale(0.8) translateX(-13%) translateY(-94%);
    color:#1EBCAA;
}

.seg-mdl-completed .seg-mdl-plain-label + label{
    transform:none !important;
    opacity:0;
}

.mdl-validation-error.seg-mdl-passwordfield::before{
	background-color:#FF0000 !important;
}

.mdl-validation-error.seg-mdl-passwordfield::after{
	background-color:#FF0000 !important;
}