.seg-mdl-radio{
    position:relative;
    display:block;
    overflow:hidden;
    line-height:0;
	padding-top:3px;
	padding-bottom:3px;
}

.seg-mdl-radio input[type="radio"]{
	position:absolute;
	left:-100%;
}

.seg-mdl-radio label{
	cursor:pointer;
	font-size:12px;
	line-height:17px;
	padding-left:34px;
	position:relative;
	height:18px;
	display:inline-block;
	font-weight:bold;
	color:#1EBCAA;
}

.seg-mdl-radio label span{
	color:#45484A;
}

.seg-mdl-radio-dot{
	display:block;
	border:1px solid #1EBCAA;
	width:15px;
	height:15px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:0;
	
}

.seg-mdl-radio-dot::after{
	content:'';
	display:block;
	position:absolute;
	top:3px;
	left:3px;
	width:9px;
	height:9px;
	background-color:#1EBCAA;
	border-radius:50%;
	transform:scale(0);
	transition:transform 0.2s;
}

.seg-mdl-checked .seg-mdl-radio-dot::after{
	transform:scale(1);
}

.mdl-validation-error .seg-mdl-radio-dot{
	border: 1px solid #FF0000 !important;
}