.seg-mdl-radio-group{
    position:relative;
    display:inline-block;
    overflow:hidden;
    line-height:0;
    margin-bottom:5px;
    margin-top:7px;
}

.seg-mdl-radio-group input[type="radio"]{
    position:absolute;
    top:-100%;
    opacity:0;
}

.seg-mdl-radio-group::before{
    content:'';
    position:absolute;
    bottom:1px;
    height:1px;
    left:0;
    width:100%;
    background-color:#DCDCDC;
    z-index:2;
}

.seg-mdl-radio-group label{
    display:inline-block;      
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
}

.seg-mdl-radio-group label span{
    padding-top:0;
    padding-bottom:0;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #DCDCDC;
    margin-top:7px;
    margin-bottom:7px;
    margin-left:0;
    margin-right:0;
    font-size: 14px;
    color: #DCDCDC;
    font-weight:normal;
    cursor:pointer;
    transition: color 0.2s;
    display:block;
    z-index:2;
    position:relative;
    line-height:20px;
}

.seg-mdl-radio-group label.seg-mdl-first span{
    border-left:none;
}

.seg-mdl-radio-group label.seg-mdl-checked span{
    color: #757575;
}

.seg-mdl-radio-group-underline{
    content:'';
    position:absolute;
    bottom:0;
    height:2px;
    left:50%;
    width:0;
    background-color:red;
    transition-property:all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index:3;
}

.seg-mdl-radio-group .seg-mdl-riple{
    content: '';
    background-color: #EEEEEE;
    position: absolute;
    width: 250%;
    padding-top: 125%;
    opacity: 1;
    padding-bottom: 125%;
    border-radius: 50%;
    animation-name:ripple;
    animation-duration:0.5s;
    transition: opacity 0.5s;
    z-index:1;
}

@keyframes ripple {
    from {transform:scale(0);}
    to {transform:scale(1);}
}