.seg-mdl-counter-box {
    display: inline-flex;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
    overflow: hidden;
    margin: 15px 0;

}
.seg-mdl-counter-box .label {
    text-align: left;
    display: inline-block;
    line-height: 1.2 !important;
    margin-right: auto;
    min-width: 48px;
    max-width: calc(100% - 96px);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.seg-mdl-counter-box .label label {
    font-size: 1.01em;
    font-weight: bold;
}

.seg-mdl-counter-box .label .desc {
    line-height: 20px;
}

.seg-mdl-counter-box .inputs {
    display: inline-flex;
    padding: 0 0 0 15px;
    flex-basis: 100%;
    max-width: 100px;
    align-items:center;
}

.seg-mdl-counter-box input.seg-mdl{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 40px);
    min-width: 20px;
}

.seg-mdl-counter-box .count-inc,
.seg-mdl-counter-box .count-dec{
    min-height: 24px;
    height: 24px;
    min-width:24px;
    width:   24px;
    display: block;
    position: relative;
    border:2px solid #ccc;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.seg-mdl-counter-box .count-inc{
    border-color: turquoise;
}

.seg-mdl-counter-box .count-inc::before{
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 12px;
    background-color: #666;
}
.seg-mdl-counter-box .count-inc::after{
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 12px;
    background-color: #666;
}

.seg-mdl-counter-box .count-dec::before{
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 12px;
    background-color: #666;
}