.seg-mdl-dot-checkbox{
    position:relative;
    display:block;
    overflow:hidden;
    line-height:0;
	padding-top:3px;
	padding-bottom:3px;
}

.seg-mdl-dot-checkbox input[type="checkbox"]{
	position:absolute;
	left:-100%;
}

.seg-mdl-dot-checkbox label{
	cursor:pointer;
	font-size:12px;
	line-height:17px;
	padding-left:34px;
	position:relative;
	height:18px;
	display:inline-block;
	font-weight:bold;
	color:#1EBCAA;
}

.seg-mdl-dot-checkbox label span{
	color:#45484A;
}

.seg-mdl-dot-checkbox-dot{
	display:block;
	border:1px solid #1EBCAA;
	width:16px;
	height:16px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:0;
	
}

.seg-mdl-dot-checkbox-dot::after{
	content:'';
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:10px;
	height:10px;
	background-color:#1EBCAA;
	border-radius:50%;
	transform:translate(-50%,-50%) scale(0);
	transition:transform 0.2s;
}.seg-mdl-checked .seg-mdl-dot-checkbox-dot::after {    transform: translate(-50%,-50%) scale(1);}

.mdl-validation-error .seg-mdl-dot-checkbox-dot{
	border: 1px solid #FF0000 !important;
}