.default .mdl-popup .modal-body {

    overflow: visible !important;

}



.mdl-popup .modal-header {

    min-height: 16.43px;

    padding: 15px;

    border-bottom: 1px solid #e5e5e5;

    background-color: #fff !important;

    border-radius: 8px 8px 0 0;

}



.mdl-popup .modal-footer {

    padding: 0px;

    height: auto;

    line-height:0;

}



.mdl-popup .modal-footer .btn-default {

    width: 50%;

    margin: 0px !important;

    border: none;

    padding: 15px 0px 15px 0px;

    border-radius: 0px;

    background-color: #fff;

}



.mdl-popup .modal-footer .btn + .btn {

    border-left: 1px solid #d5d5d5;

    margin-left: 0px;

}



.mdl-popup .modal-footer > .btn:first-child {

    background-color: #2E85C6 !important;

    color: #fff;

}



.mdl-popup .awe-loading {

    /* background-image: url('../../wp-content/themes/meridianadventures/images/icons/apps/custom/wl-icons/loader.svg'); */

    position: absolute;

    top: 50%;

    left: 50%;

    width: 20px;

    height: 20px;

    margin-left: -10px;

    margin-top: -10px;

    stroke: #676767;

    z-index: 1;

    animation-name: loaderRotate;

    animation-duration: 1s;

    animation-iteration-count: infinite;

    animation-timing-function: linear;

    background-size: 20px 20px;

}



.mdl-popup .awe-ldgcnt {

    position: relative;

    width: 100%;

    display: block;

    height: 48px;

}



.mdl-popup.wl-popup-row {

    padding-bottom: 5px;

    padding-left: 0;

    padding-right: 0;

}



.mdl-popup.col-no-pad {

    padding-left: 0;

    padding-right: 0;

}



html .modal-open .modal-dialog .seg-mdl-btn {

    background-color: #FFFFFF;

}



html .modal-open .modal-dialog .seg-mdl-btn .seg-mdl-riple {

    background-color: #F8F8F8;

}



html .modal-open .modal-dialog .seg-mdl-btn input[type="button"] {

    color: #555555;

}



html .modal-open .modal-dialog .seg-mdl-modal-btn-container-first .seg-mdl-btn input[type="button"] {

    color: #FFFFFF;

}



.mdl-popup .modal-footer .seg-mdl-btn{

    width:100%;

}



.mdl-popup .modal-footer .seg-mdl-btn input[type="button"]{

    width:100%;

    line-height:38px;

}



.mdl-popup .seg-mdl-modal-btn-container .seg-mdl-btn {

    margin-left: 0;

}



html .modal-open .modal-dialog.mdl-popup .seg-mdl-modal-btn-container-first .seg-mdl-btn{

    background-color:#9E9E9E;

}



@keyframes loaderRotate {

    from {transform: rotate(0deg);}

    to {transform: rotate(360deg);}

}