//
// -- Start editing -- //
//

@import "./_flex";

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $flexboxgrid-outer-margin;
  padding-left: $flexboxgrid-outer-margin;
}

.row {
  box-sizing: border-box;
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin: $gutter-compensation;
}

.row.reverse {
  @include flex-direction(row-reverse);
}

.col.reverse {
  @include flex-direction(column-reverse);
}

@mixin flexboxgrid-sass-col-common {
  box-sizing: border-box;

  // split @include flex(0, 0, auto) into individual props
  @include flex-grow(0);
  @include flex-shrink(0);

  // we leave @include flex-basis(auto) out of common because
  // in some spots we need it and some we dont
  // more why here: https://github.com/kristoferjoseph/flexboxgrid/issues/126

  padding: $half-gutter-width;
}

$name: xs;
.col-#{$name} {
  @include flexboxgrid-sass-col-common;
  @include flex-basis(auto);
}

@for $i from 1 through $flexboxgrid-grid-columns {
  .col-#{$name}-#{$i} {
    @include flexboxgrid-sass-col-common;
    @include flex-basis(100% / $flexboxgrid-grid-columns * $i);
    max-width: 100% / $flexboxgrid-grid-columns * $i;
  }
}

@for $i from 0 through $flexboxgrid-grid-columns {
  .col-#{$name}-offset-#{$i} {
    @include flexboxgrid-sass-col-common;
    @if $i == 0 {
      margin-left: 0;
    } @else {
      margin-left: 100% / $flexboxgrid-grid-columns * $i;
    }
  }
}

.col-#{$name} {
  @include flex-grow(1);
  @include flex-basis(0);
  max-width: 100%;
}

.start-#{$name} {
  @include justify-content(flex-start);
  text-align: left;
}

.center-#{$name} {
  @include justify-content(center);
  text-align: center;
}

.end-#{$name} {
  @include justify-content(flex-end);
  text-align: right;
}

.top-#{$name} {
  @include align-items(flex-start);
}

.middle-#{$name} {
  @include align-items(center);
}

.bottom-#{$name} {
  @include align-items(flex-end);
}

.around-#{$name} {
  @include justify-content(space-around);
}

.between-#{$name} {
  @include justify-content(space-between);
}

.first-#{$name} {
  order: -1;
}

.last-#{$name} {
  order: 1;
}

@each $breakpoint in $flexboxgrid-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (min-width: $size) {
    .wrapper {
      display: block;
      margin: auto;
      max-width: $container;
    }

    .col-#{$name} {
      @include flexboxgrid-sass-col-common;
      @include flex-basis(auto);
    }
    @for $i from 1 through $flexboxgrid-grid-columns {
      .col-#{$name}-#{$i} {
        @include flexboxgrid-sass-col-common;
        @include flex-basis(100% / $flexboxgrid-grid-columns * $i);
        max-width: 100% / $flexboxgrid-grid-columns * $i;
      }
    }
    @for $i from 0 through $flexboxgrid-grid-columns {
      .col-#{$name}-offset-#{$i} {
        @include flexboxgrid-sass-col-common;
        @if $i == 0 {
          margin-left: 0;
        } @else {
          margin-left: 100% / $flexboxgrid-grid-columns * $i;
        }
      }
    }
    .col-#{$name} {
      @include flex-grow(1);
      @include flex-basis(0);
      max-width: 100%;
    }
    .start-#{$name} {
      @include justify-content(flex-start);
      text-align: left;
    }

    .center-#{$name} {
      @include justify-content(center);
      text-align: center;
    }

    .end-#{$name} {
      @include justify-content(flex-end);
      text-align: right;
    }

    .top-#{$name} {
      @include align-items(flex-start);
    }

    .middle-#{$name} {
      @include align-items(center);
    }

    .bottom-#{$name} {
      @include align-items(flex-end);
    }

    .around-#{$name} {
      @include justify-content(space-around);
    }

    .between-#{$name} {
      @include justify-content(space-between);
    }

    .first-#{$name} {
      order: -1;
    }

    .last-#{$name} {
      order: 1;
    }
  }
}

.fill-height {
  box-sizing: border-box;
  height: 100%;
}

.fill-width {
  box-sizing: border-box;
  width: 100%;
}

.image-responsive {
  display: block;
  height: auto;
  width: 100%;
}

[class^="image-center-crop"] {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &[class*="__height_bias"] {
    height: 100%;
    width: auto;
  }

  &:not([class*="__height_bias"]) {
    height: auto;
    width: 100%;
  }

}

.margin_horizontal_auto {
  margin-left: auto;
  margin-right: auto;
}

@for $size from 1 to 11 {

  .container_#{$size} {
    height: #{($sizing-unit * $size)};
    height: calc(var(--sizing-unit) * #{$size});
    width: #{($sizing-unit * $size)};
    width: calc(var(--sizing-unit) * #{$size});
  }

  .rounded-box_#{$size} {
    border-radius: #{($sizing-unit * $size)};
    border-radius: calc(var(--sizing-unit) * #{$size});
    perspective: 1px; // Fixes an issue where the context overflows the border radius on Safari.
    overflow: hidden;
  }

  .inset-box_#{$size} {
    padding: #{($sizing-unit * $size)};
    padding: calc(var(--sizing-unit) * #{$size});
    perspective: 1px;
    overflow: hidden;
  
  }

  [class*="inset-box_#{$size}"]:not[class*="no_margin"] {
    * + * {
      margin-top: #{$sizing-unit * ($size * 0.5)};
      margin-top: calc(var(--sizing-unit) * #{$size / 2});
    }
  }

  .margin_#{$size} {
    margin: #{$sizing-unit * $size};
    margin: calc(var(--sizing-unit) * #{$size});
  }

  .margin_top_#{$size} {
    margin-top: #{$sizing-unit * $size};
    margin-top: calc(var(--sizing-unit) * #{$size});
  }

  .margin_bottom_#{$size} {
    margin-bottom: #{$sizing-unit * $size};
    margin-bottom: calc(var(--sizing-unit) * #{$size});
  }

  .margin_vertical_#{$size} {
    margin-top: #{$sizing-unit * $size};
    margin-top: calc(var(--sizing-unit) * #{$size});
    margin-bottom: #{$sizing-unit * $size};
    margin-bottom: calc(var(--sizing-unit) * #{$size});
  }

  .margin_left_#{$size} {
    margin-left: #{$sizing-unit * $size};
    margin-left: calc(var(--sizing-unit) * #{$size});
  }

  .margin_right_#{$size} {
    margin-right: #{$sizing-unit * $size};
    margin-right: calc(var(--sizing-unit) * #{$size});
  }

  .margin_horizontal_#{$size} {
    margin-right: #{$sizing-unit * $size};
    margin-right: calc(var(--sizing-unit) * #{$size});
    margin-left: #{$sizing-unit * $size};
    margin-left: calc(var(--sizing-unit) * #{$size});
  }

  .padding_#{$size} {
    padding: #{$sizing-unit * $size};
    padding: calc(var(--sizing-unit) * #{$size});
  }

  .padding_top_#{$size} {
    padding-top: #{$sizing-unit * $size};
    padding-top: calc(var(--sizing-unit) * #{$size});
  }

  .padding_bottom_#{$size} {
    padding-bottom: #{$sizing-unit * $size};
    padding-bottom: calc(var(--sizing-unit) * #{$size});
  }

  .padding_vertical_#{$size} {
    padding-top: #{$sizing-unit * $size};
    padding-top: calc(var(--sizing-unit) * #{$size});
    padding-bottom: #{$sizing-unit * $size};
    padding-bottom: calc(var(--sizing-unit) * #{$size});
  }

  .padding_left_#{$size} {
    padding-left: #{$sizing-unit * $size};
    padding-left: calc(var(--sizing-unit) * #{$size});
  }

  .padding_right_#{$size} {
    padding-right: #{$sizing-unit * $size};
    padding-right: calc(var(--sizing-unit) * #{$size});
  }

  .padding_horizontal_#{$size} {
    padding-right: #{$sizing-unit * $size};
    padding-right: calc(var(--sizing-unit) * #{$size});
    padding-left: #{$sizing-unit * $size};
    padding-left: calc(var(--sizing-unit) * #{$size});
  }
}
