// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------


.boiler-center{
    display: flex;
    justify-content: center;
    align-items: center;

    strong{
        position: relative;
        &::before{
            content: "";
            width: 50px;
            height: 1px;
            background: $dark-grey;
            position: absolute;
            left: -55px;
            top: 10px;
            
        }
        &::after{
            content: "";
            width: 50px;
            height: 1px;
            background: $dark-grey;
            position: absolute;
            right: -55px;
            top: 10px;
        }
    }
}
.boiler-left,
.boiler-left{
    display: flex;
    align-items: center;
}