#path_builder_wrapper {
  display: flex;
  justify-content: space-around;
}
#path_builder_wrapper div#course_list_wrapper,
#path_builder_wrapper div#new_path_wrapper {
  flex-basis: 45%;
}

#new_node_item_wrapper,
.new-node-button {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  background: lightgray;
}

#new_node_item_wrapper {
  background: lightblue;
  margin-bottom: 5px;
}

/*# sourceMappingURL=pathStyles.css.map */
