// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-font-size: 16px;

$base-spacing:14px;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(29, 128, 245) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(102, 102, 102) !default;


/// Extra Dark grey
/// @type Color
$extra-dark-grey: rgb(62, 62, 62) !default;

/// Extra Dark grey
/// @type Color
$super-dark-grey: rgb(37, 37, 37) !default;

/// Container's maximum width
/// @type Length
$max-width: 980px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/images/' !default;



/** Grid
 -----------------------------------------------------*/

// The unit that all space should be multiples of.
$sizing-unit: 10px;
// The max width of the wrapper
$wrapper-max-width: 960px;
// Set the number of columns you want to use on your layout.
$flexboxgrid-grid-columns: 12 !default;
// Set the gutter between columns.
$flexboxgrid-gutter-width: $sizing-unit * 2 !default;
// Set a margin for the container sides.
$flexboxgrid-outer-margin: $sizing-unit * 2 !default;

$flexboxgrid-breakpoints: xs 576px 536px,
sm 768px 728px,
md 960px 960px;
$flexboxgrid-max-width: 960px !default;

$gutter-compensation: $flexboxgrid-gutter-width * 0.5 * -1;
$half-gutter-width: $flexboxgrid-gutter-width * 0.5;
