// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#path_wrapper {
    text-align: center;

    .node_box {
        border: 2px solid gray;
        text-align: center;
        padding: 15px;
        margin-bottom: 35px;
        font-size: 18px;
        cursor: pointer;
        @extend .rounded;
}
}