// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background-color: $light-grey;
    padding-top: 79px;
    padding-bottom: 10px;
    margin-top: 20px;


    .footer-inner-title {
        margin-bottom: 10px;
    }

    .footer-inner-about {
        .footer-inner-content {
            padding-right: 25px;
        }
    }

    .footer-inner-newsletter {
        .subscribe-wrapper {
            display: flex;
            .input-wrapper {
                flex-basis: 80%;
                .seg-mdl-textfield{
                    background-color: #fff;
                }
            }
        }
    }
        .footer-copy-notice
        {
            border-top:1px solid $mid-grey;
            margin-top:$base-spacing * 2;
            .col-xs-8{
                padding-top:5px;
            }
        }
}