// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    min-height: 200px;
    max-height: 200px;
    background-color: $super-dark-grey;
}

.device-tablet{  
    header{
        min-height: 300px;
        max-height: 300px;
    }
}

.device-desktop{  
    header{
        min-height: 500px;
        max-height: 500px;
    }
}