// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
#navbar {
    @extend .primary-font;
    background-color: $extra-dark-grey;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);



    .no-list {
        list-style: none;
        display: inline-block
    }

    ul#menu-main {
            display: none;
    }

    .menu-main-container {
        display: flex;
        justify-content:flex-end;
    }   

     i.seg-menu {
        margin-top:15px;
    }

    ul#menu-main {
        justify-content: center;
        padding: 0;
        li {
            list-style: none;
            a {
                color: #fff;
                padding: 20px 25px;
                font-size: $base-font-size - 2px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }
}



.device-tablet,
.device-desktop {
    #navbar {
        .menu-main-container {
             justify-content:center;
        }     
        ul#menu-main {
            display: flex;
        }

        i.seg-menu {
           display: none;
        }
    }
}

ul#crumb-menu{
    position: relative;
    margin:0px;
    margin-top: 10%;
    li.crum-list{  
    margin-left:30px;        
    .current-crumb{position:absolute;left: 0;
            
    }
    }
}

ul#menu-footer,
ul#menu-paths {
    margin: 0;
    padding: 0;
    li{
        list-style: none;

        a{color:$dark-grey;
        &:hover{
           color:$brand-color; 
        }}
    }
}



ul#menu-social {
    display: flex;
    margin: 0;
    padding: 0;
     li{
       
        list-style: none;
        width: 25px;

       

        a{
            display: block;
            width: 100%;
            height: 100%;
            background-size: auto 12px;
            background-repeat: no-repeat;
            background-position: center;
            transition: filter 0.2s ease;
            position: relative;
        }

        
    }

     .icon_facebook a {
            background-image: url(images/icons/facebook_dark.png);
        }

        .icon_instagram a {
            background-image: url(images/icons/instagram_dark.png);
        }

        .icon_twitter a {
            background-image: url(images/icons/twitter_dark.png);
        }

        .icon_youtube a {
            background-image: url(images/icons/youtube_dark.png);
        }
}

ul#menu-gatewayoptions {
    display: flex;
    margin: 0;
    padding: 0;
     li{
        
        list-style: none;
        width: 25px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            background-size: auto 12px;
            background-repeat: no-repeat;
            background-position: center;
            transition: filter 0.2s ease;
            position: relative;
        }

        a.icon_payment {
            background-image: url(images/icons/wallet.png);
        }

    }
}
